.ReactModal__Body--open {
  /* https://github.com/reactjs/react-modal/issues/191 */
  overflow-y: hidden;
}
.modal-overlay {
  @apply fixed top-0 left-0 right-0 bottom-0 flex justify-center items-center sm:py-10;

  z-index: 102;
  background-color: rgb(0 0 0 / 75%);
  @apply opacity-0;
  &.ReactModal__Overlay {
    @apply transition-opacity duration-500 ease-in-out;
    &--after-open {
      @apply opacity-100;
    }
    &--before-close {
      @apply opacity-0;
    }
  }
}
.modal-content-wrapper {
  @apply relative;

  z-index: 6;
  -webkit-overflow-scrolling: touch;
  font-size: 0.8125rem;
}
.modal-close-container {
  @apply fixed w-[inherit] h-10;
}
.modal-close {
  @apply absolute top-1 sm:top-2.5 right-2 z-1 ;
  svg {
    @apply h-8 sm:h-6;
  }
}
.modal-content {
  @apply w-full;
}
.modal-body {
  @apply px-5 py-10;
  h2 {
    @apply text-2xl;
  }
}

/* Modal Default Variant */
.modal-default {
  @apply p-0 bg-white overflow-auto outline-none w-auto h-auto max-h-full w-full sm:w-[580px] md:w-[700px] lg:w-[820px];

  box-shadow: 0 2px 84px 0 rgb(0 0 0 / 73%);
}

/* Modal Lightbox Variant */
.modal-lightbox {
  @apply w-full sm:w-3/4 lg:w-1/2;
  .modal-close {
    @apply -top-7 right-4;
  }
  .modal-close,
  .modal-body {
    @apply text-white py-0;
  }
}

/* Used for the email Newsletter modal */
.modal-body__photo {
  @apply md:w-1/2 bg-center bg-no-repeat bg-cover;
}
